<!DOCTYPE html>
<html ng-app="ngRatingApp">
    <head>
        <title></title>
        <style>
            .rating {
                width: 20px;
                height: 20px;
                display: inline-block;
                padding-right: 5px;
                background: url(starpb.png) no-repeat center center;
                cursor: pointer;
				overflow: hidden;
            }

			.ratingzero {
                width: 20px;
                height: 20px;
				display: inline-block;
				cursor: pointer;
			}
				.ratingzero:hover {
					background: url(close.png) no-repeat center center;
				}
            .ratingSel {
                background: url(star.png) no-repeat center center;
            }
        </style>
    </head>

    <body ng-controller="testeRating">

        <ratings size="5" value="3"></ratings>

        <br />
        <br />

        <ratings size="7" value="2" field="rated2"></ratings>
        
        <p>Rating Escolhido: {{ rated }}</p>
        <p>Rating Escolhido: {{ rated2 }}</p>

        <script src="js/jquery.js" type="text/javascript"></script>
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script language="javascript">

            /*
                Sistema de Ranqueamento ngRating
                ================================

                Campos:
                    size.....: Quantidade de símbolos a mostrar. Default - 5
                    value....: Valor do ranqueamento. Determina quantos símbolos aparecerão ligados. Default - 0
                    field....: Nome da variável no escopo pai que receberá o valor do campo 'value'.
                    readonly.: Se o usuário pode interagir com esta diretiva. Default - false (ou seja, o usuário interage)
            */


            var app = angular.module('ngRatingApp', []);

            // Controller principal
            app.controller('testeRating', function($scope) {
                $scope.rated = 0;
                $scope.rated2 = 0;
            });


            // Diretiva
            app.directive('ratings', function() {

                var directive = {};
                directive.restrict = 'E';
                directive.template = '<ul><li class="ratingzero" ng-click="rateClick(-1)"></li><li ng-repeat="s in stars track by $index" class="rating" ng-class="{ ratingSel: s }" ng-click="rateClick($index)" ' +
                                     'ng-mouseenter="rateIn($index)" ng-mouseleave="rateOut()"></li></ul>';
                directive.scope = {};
                directive.compile = function() {

                    return function($scope, element, attrs) {

                        var parentVar = attrs.field || 'rated';

                        $scope.stars = [];
                        $scope.value = attrs.value || 0;
                        $scope.size = attrs.size || 5;
                        $scope.$parent[parentVar] = $scope.value;
                        $scope.readonly = (attrs.readonly && attrs.readonly != '');

                        for (var i = 0; i < $scope.size; i++) {
                            $scope.stars.push(i <= $scope.value - 1);
                        };

                        var update = function(ind) {
                            for (var i = 0; i < $scope.size; i++) {
                                $scope.stars[i] = (i <= ind);
                            };                            
                        };  

                        $scope.rateClick = function(ind) {
                            if (!$scope.readonly) {
                                update(ind);
                                $scope.value = ind + 1;
                                attrs.value = ind + 1;
                                $scope.$parent[parentVar] = $scope.value;
                            }
                        };

                        $scope.rateIn = function(ind) {
                            if (!$scope.readonly) { update(ind); }
                        };

                        $scope.rateOut = function() {
                            if (!$scope.readonly) { update($scope.value - 1); }
                        };  
                    };
                }
                return directive;
            });
        </script>
    </body>
</html>
